name: Publish to PyPI
on:
  push:
    branches:
      - main

jobs:
  pypi_release:
    name: Builds Using Poetry and Publishes to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org | python -
      - name: Install dependencies
        run: poetry install
      - name: Publish package
        run: poetry publish --build -u __token__ -p ${{ secrets.PYPI_API_KEY }}
